<mat-toolbar>
    <!--Pantalla responsive-->
    <button mat-icon-button *ngIf="sidenav.mode ==='over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <!--Pantalla normal-->
    <img src="../favicon.ico" alt="PetHealth" class="logo">
    <span class="title">PetHealth</span>

    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="icon-button with heart icon">
        <mat-icon>
            notifications
        </mat-icon>
    </button>
    <span>
        Fredy
    </span>
    <img src="../assets/images/frejola.png" alt="frejola">
</mat-toolbar>



<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav="matSidenav" mode="side" opened>
        <mat-nav-list>
            <a [routerLink]="['customer/customers']">
                <mat-icon>pets</mat-icon>
                <span>Mascotas</span>
            </a>

            <mat-divider></mat-divider>
            <a [routerLink]="['customer/customerAppointments']">
                <mat-icon>event_note</mat-icon>
                <span>Citas</span>
            </a>

            <mat-divider></mat-divider>
            <a [routerLink]="['customer/customerProfile']">
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </a>

            <mat-divider></mat-divider>
            <a [routerLink]="['customer/customerSettings']">
                <mat-icon>settings</mat-icon>
                <span>Ajustes</span>
            </a>

            <mat-divider></mat-divider>

            <a [routerLink]="['/']">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>