<div class="profile-container">
    <div class="form">
      <mat-card>
        <div class="header">
          <img src="../assets/images/profile.png" alt="profile" class="profile">
        </div>
        <mat-card-content>
          <mat-form-field appearance="outline" class="custom-mat-form-field">
              <mat-label>Nombre</mat-label>
              <input matInput type="text" required style="color: black;">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="custom-mat-form-field">
              <mat-label>Apellidos</mat-label>
              <input matInput type="text" required style="color: black;">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="custom-mat-form-field">
              <mat-label>Dirección</mat-label>
              <input matInput type="text" required style="color: black;">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="custom-mat-form-field">
              <mat-label>Celular</mat-label>
              <input matInput type="number" required style="color: black;">
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="custom-mat-form-field">
              <mat-label>Correo</mat-label>
              <input matInput type="email" required style="color: black;">
          </mat-form-field>
  
          <div class="button-center">
            <button mat-raised-button class="submit-button" style="color: rgb(255, 255, 255);">Guardar</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>