<div class="settings-container">
  <div class="form">
    <mat-card>
      <div class="header">
          <mat-card-title>Ajustes</mat-card-title>
      </div>
      <mat-card-content>
          <mat-card-subtitle style="color: black;">Cambiar contraseña</mat-card-subtitle>
        <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label>Contraseña Actual</mat-label>
            <input id="currentPassword" [formControl]="currentPassword" matInput type="password" required style="color: black;">
            <div *ngIf="currentPassword.invalid && currentPassword.touched" class="error-message">Contraseña actual es requerida</div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label>Contraseña Nueva</mat-label>
            <input id="newPassword" [formControl]="newPassword" matInput type="password" required style="color: black;">
            <div *ngIf="newPassword.invalid && newPassword.touched" class="error-message">Nueva contraseña es requerida</div>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-mat-form-field">
            <mat-label>Confirmar la Nueva Contraseña</mat-label>
            <input id="confirmPassword" [formControl]="confirmPassword" matInput type="password" required style="color: black;">
            <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error-message">Confirmación de contraseña es requerida</div>
        </mat-form-field>

        <div class="button-center">
          <button mat-raised-button class="submit-button" style="color: rgb(255, 255, 255);" (click)="updatePass()">Guardar</button>
        </div>

        <div style="display: flex; align-items: center;">
            <p style="color: black; margin-top: 50px; font-size: 15px;">Notificaciones</p>
            <mat-slide-toggle color="accent" style="margin-left: 310px; margin-top: 32px;"></mat-slide-toggle>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>