
.buttonEdit {
  position: absolute;
  top: 5px;
  right: 20px;
}
.edit-pet-content {
  display: flex;
  align-items: center;
}
.textEdit {
  margin-right: 10px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
mat-card {
  max-width: 250px;
  margin: 20px;
  background-color: #F5FFFF;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.imagePet{
  width: 100px; /* Ajusta el tamaño del contenedor */
  height: 100px; /* Ajusta el tamaño del contenedor */
  border-radius: 50%; /* Hace que el contenedor sea un círculo */
  overflow: hidden; /* Oculta las partes de la imagen que excedan el círculo */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  border-color: #F5FFFF;
  margin: 0px 0px 15px 10px;
}

.circle-image {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: 100px; /* Ajusta el tamaño de la imagen */
}
.namePet {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.textCard {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500px;
  font-size: 16px;
  margin-left: 10px;
}
.appointment-info h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.first-column, .second-column, .third-column {
  flex: 1;
}

.first-column {
  margin-right: 8px;
}

.second-column {
  margin-left: -300px;
}

.third-column{
  margin-left: -145px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

#chart {
  max-width: 650px;
  height: auto; 
  margin: 20px auto;
}

.custom-card {
  max-width: 400px; /* Ajusta este valor según tus necesidades */
  height: auto; /* Ajusta este valor según tus necesidades */
}