<div class="container-cards">
    <div class="example-card" *ngFor="let vet of veterinarians">
      <div class="card-image">
        <ng-container *ngIf="vet.photoUrl; else defaultIcon">
          <img style="width: 200px; height: 150px;" [src]="vet.photoUrl">
        </ng-container>
        <ng-template #defaultIcon>
          <div class="default-icon" style="width: 200px; height: 150px;">
            <img style="width: 200px; height: 150px;" src="../../../../assets/images/veterinario.jpeg">
          </div>
        </ng-template>
      </div>
      <div class="card-data">
        <h2>{{ vet.fullName }}</h2>
        <p>{{ 'VETERINARIANS.AVAILABILITY' | translate }}: {{ vet.specialization }}<br>
          {{ 'VETERINARIANS.CONTACTS' | translate }}<br>
          {{ 'VETERINARIANS.EMAIL' | translate }}: {{ vet.contactInfo }}<br>
          {{ 'VETERINARIANS.PHONE' | translate }}: {{ vet.phone }}</p>
      </div>
      <div class="card-event">
        <div class="button-select">
          <button mat-button (click)="goToAppointment(vet.veterinarianId)">{{ 'VETERINARIANS.SELECT' | translate }}</button>
        </div>
      </div>
    </div>
  </div>