<div class="clinic-content">
  <mat-card class="set column1">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field class="mat-form-field" appearance="outline">
          <input matInput placeholder="Name of clinic" type="text" name="search" [(ngModel)]="searchText">
          <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            Name of clinic
          </mat-label>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section class="clean-card" *ngFor="let clinic of clinics | filter:searchText">
        <h3>{{clinic.name}}</h3>
        <label class="dec-text">Rating:</label><label>{{clinic.rating}}</label><br>
        <label class="dec-text">Address:</label><label>{{clinic.address}}</label><br>
        <label class="dec-text">Phone Number:</label><label>{{clinic.phone}}</label><br>
        <label class="dec-text">Social media:</label><label>{{clinic.email}}</label><br>
        <button (click)="onSelected(clinic.id)" mat-stroked-button class="btnout">Schedule</button>
        <hr class="solid">
      </section>

    </mat-card-content>
  </mat-card>

  <div class="column1"> <!--Recuerda que esto se esconde-->
    <google-map [center]="center" [zoom]="zoom" height="400px" width="100%">
      <ng-container *ngIf="markers.length > 0">
        <map-marker *ngFor="let marker of markers"
                    [position]="marker.position"
                    [title]="marker.title ?? 'Sin título'"></map-marker>
      </ng-container>
    </google-map>
  </div>

  <mat-card class="set column2">
    <mat-card-header>
      <mat-card-title>
        Veterinarians available
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section class="clean-card" *ngFor="let vet of veterinariansByClinic">
        <h3>{{vet.name}} <br>
          <button mat-flat-button class="btn">Select</button>
        </h3>
        <label class="dec-text">Availability:</label><label>{{vet.availability}}</label><br>
        <label class="dec-text">ClinicId:</label><label>{{vet.clinicId}}</label><br>
        <label class="dec-text">Phone Number:</label><label>{{vet.phone}}</label><br>
        <label class="dec-text">Social media:</label><label>{{vet.email}}</label><br>
        <hr class="solid">
      </section>

    </mat-card-content>
  </mat-card>

  <mat-card class="set column1">
    ejlvsnk.rbe
  </mat-card>
</div>
