<div class="appointment-content">
  <mat-card class="appointment-set column1">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field class="mat-form-field" appearance="outline">
          <input matInput placeholder="Fecha o nombre de mascota" type="text" name="search" [(ngModel)]="searchText">
          <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            Date or name of pet
          </mat-label>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section class="clean-card" *ngFor="let appointment of appointments | filter:searchText">
        <h3>{{appointment.title}}</h3>
        <label class="dec-text">Date:</label><label>{{appointment.date}}</label><br>
        <label class="dec-text">Time:</label><label>{{appointment.hour}}</label><br>
        <label class="dec-text">Reason:</label><label>{{appointment.description}}</label><br>
        <hr class="solid">
      </section>

    </mat-card-content>
  </mat-card>

  <div class="column1">
    <div class="label-button">
      <button routerLink="create-appointment" mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn">
        <mat-icon>add</mat-icon>
      </button>
      <h1>Add Appointment</h1>

    </div>
    <p>Calendar aquí</p>
    <!--Add calendar-->

  </div>
</div>
