<div class="appointment-content">
  <mat-card class="appointment-set column1">
    <mat-card-header>
      <mat-card-title>
        <mat-form-field class="mat-form-field" appearance="outline">
          <input matInput placeholder="Fecha o nombre de mascota">
          <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            Fecha o nombre de mascota
          </mat-label>
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <section class="clean-card" *ngFor="let appointment of appointments">
        <h3>{{appointment.title}}</h3>
        <label class="dec-text">Fecha:</label><label>{{appointment.date}}</label><br>
        <label class="dec-text">Hora:</label><label>{{appointment.hour}}</label><br>
        <label class="dec-text">Motivo:</label><label>{{appointment.description}}</label><br>
        <hr class="solid">
      </section>

    </mat-card-content>
  </mat-card>

  <div class="alert-info column1">
    <div class="label-button">
      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn">
        <mat-icon>add</mat-icon>
      </button>
      <h1>Añadir Cita</h1>

    </div>
    <app-calendar-header [(view)]="view" [(viewDate)]="viewDate"></app-calendar-header>

    <div class="nav-calendar">
      <div [ngSwitch]="view">
        <span *ngSwitchCase="'month'">Click on a month label to change the view to that month.</span>
        <span *ngSwitchCase="'week'">Click on a day header to change the view to that day.</span>
        <span *ngSwitchCase="'day'">There is no other view to navigate to.</span>
      </div>
    </div>

    <div [ngSwitch]="view" class="calendar-show">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
        (dayClicked)="changeDay($event.day.date)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
        (dayHeaderClicked)="changeDay($event.day.date)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events">
      </mwl-calendar-day-view>
    </div>



  </div>


</div>