<div class="container">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab *ngFor="let pet of pets">
  
        <mat-card class="data-card">
          <mat-card-header>
            <div class="imagePet">
              <img [src]="pet.image" alt="Image of a {{ pet.specie }}" class="circle-image">
            </div>
          </mat-card-header>
          <mat-card-content class="textCard">
            <p class="namePet">{{ pet.name }}</p>
            {{ pet.specie }} - {{ pet.age }} meses <br>
            {{ pet.sex == 'male' ? 'Macho' : 'Hembra' }} <br>
            Perímetro: {{ pet.perimeter }} metros
          </mat-card-content>
        </mat-card>
  
        <mat-card class="appointment-card" *ngFor="let appointment of appointments">
          <mat-card-header>
            <div class="appointment-info">
              <p>Clinic: {{ appointment.title }}</p>
              <p>Date: {{ appointment.date }} - {{ appointment.hour }}</p>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p>Reason: {{ appointment.description }}</p>
            <!-- Aquí puedes agregar más detalles si es necesario -->
          </mat-card-content>
        </mat-card>
  
      </mat-tab>
    </mat-tab-group>
  
      <div class="EditPet">
        <div class="edit-pet-content">
          <p class="textEdit">Editar mascota</p>
          <button class="buttonEdit" mat-mini-fab>
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
  
  </div>
