.auth-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .patitas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.content-auth {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

mat-card {
    flex: 1;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    background: #042440;
    color: white;
    padding: 2rem 4rem;
    border-radius: 15px 0 0 15px;

    mat-card-header {
        margin-bottom: 2rem;

        mat-card-title {
            font-weight: 600;
            font-size: 40px;
            line-height: 62px;
        }
    }

    mat-card-content {
        .custom-mat-form-field {
            width: 100%;
            border-radius: 4px;
            margin-bottom: 1.5rem;
            background: white;
            padding: 1rem 0 0 0;
            height: 55px;

            mat-label {
                color: #042440;
                padding: 0 8px;
                font-size: large;
            }

            input {
                color: #042440;
                padding: 0;
            }
        }

        .button-center {
            display: flex;
            justify-content: center;

            .submit-button {
                background: #22BBBB;
                border-radius: 5px;
            }

            .google-button {
                width: 80%;
                background: #fff;
                color: #000;
                border-radius: 5px;

                .google-icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        p {
            text-align: center;
            margin: 2rem 0;
        }

        .line {
            border: 0;
            height: 1px;
            background: white;
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .register-prompt {
            text-align: center;
            margin-top: auto;

            a {
                color: #22BBBB;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.image-section {
    flex: 1;
    max-width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 15px 15px 0;

    .logo {
        max-width: 80%;
        height: 100%;
        margin-bottom: 1rem;
    }
}