<div class="auth-container">
    <img src="../assets/images/patitas.jpeg" alt="patitas" class="patitas">
    <div class="content-auth">
        <mat-card class="form-login">
            <mat-card-header class="login-header">
                <mat-card-title>Ingresar</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-form-field appearance="outline" class="custom-mat-form-field">
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" matInput [formControl]="email" placeholder="Email" required>
                                <mat-error *ngIf="email.invalid">
                                  {{getErrorMessageEmail()}}
                                </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="custom-mat-form-field">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" style="color: #FFEAEA;" matInput [formControl]="password" placeholder="Password" required>
                                <mat-error *ngIf="password.invalid">
                                  {{getErrorMessagePassword()}}
                                </mat-error>
                </mat-form-field>

                <div class="button-center">
                    <button mat-raised-button class="submit-button" (click)="login()">Ingresar</button>
                </div>

                <p>o inicia sesión con</p>

                <div class="button-center">

                    <button mat-raised-button color="warn" class="google-button">
                        <img src="../assets/images/google.png" alt="google" class="google-icon">
                        Google
                    </button>
                </div>

                <div class="line"></div>

                <div class="register-prompt">
                    ¿No tienes cuenta? <a (click)="register()">Regístrate</a>
                </div>
            </mat-card-content>
        </mat-card>

        <div class="image-section">
            <img src="../assets/images/logo.png" alt="PETHEALTH" class="logo">
        </div>
    </div>
</div>